/* components scss */

// main btn
.main_btn {
  position: relative;
  font-size: $fontSizeMid;
  font-weight: 500;
  color: $fontColorPrimary;

  &:after {
    content: '';
    position: absolute;
    top: 10%;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    background-image: url('./assets/img/main/btn-more01.png');
    background-size: contain;
    background-repeat: no-repeat
  }
}

// sub btn
.sub_btn {
  position: relative;
  font-size: $fontSizeMid;
  font-weight: 500;
  color: $fontColorBasic;

  &:after {
    content: '';
    position: absolute;
    top: 10%;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    background-image: url('./assets/img/main/btn-more02.png');
    background-size: contain;
    background-repeat: no-repeat
  }
}

//normal btn
.normal_btn {
  font-size: $fontSizeSmall;
  padding: 5px 20px;
  border-radius: 17px;
  color: #fff;
  background: $buttonColor;
}

// round btn
.yellow_btn {
  display: inline-block;
  padding: 7px 14px;
  color: #fff;
  border-radius: 19px;
  background: $buttonColor;
}

.gray_btn {
  display: inline-block;
  padding: 7px 14px;
  color: #fff;
  border-radius: 19px;
  background: $buttonColorGray;
}

.white_btn {
  display: inline-block;
  padding: 7px 14px;
  color: $fontColorBasic;
  background: #fff;
  border-radius: 19px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

// bg color

.bgyellow {
  background-color: #fffaeb;
}

.bggray {
  background-color: #f2f1ed;
}


// title, text component
.subtitle {
  font-size: $fontSizeMid;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: $fontColorPrimary;
}

.maintitle {
  font-size: $titleSizeBig;
  line-height: 40px;
  font-weight: 500;
}

.text_title {
  font-size: $fontSizeBig;
  font-weight: 500;
  line-height: 28px;
}

.text_mid {
  font-size: $fontSizeMid;
  font-weight: 500;
}

.text_normal {
  font-size: $fontSizeNormal;
  line-height: 28px;
}

.text_small {
  font-size: $fontSizeSmall;
  line-height: 24px;
}

.sub_banner {
  display: flex;
  justify-content: center;
  align-items: center;

  .sub_page_title {
    font-size: $titleSizeBigest;
    font-weight: bold;
  }
}




// box component
.box_wrap {
  display: flex;
  justify-content: flex-start;

  .box {
    flex: 0 1 31.3333%;
    overflow: hidden;
    text-align: center;
    margin-right: 3%;
    padding-bottom: 60px;
    box-sizing: border-box;
    border-radius: 20px;
    background: $layoutBg;

    img {
      width: 100%;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    // box title
    .boxtitle {
      font-size: $fontSizeMid;
      font-weight: 500;
      margin: 12px 0 28px;
    }

    .boxtext {
      font-size: $fontSizeSmall;
    }

    .main_btn {
      padding-right: 24px;
    }
  }
}

// location
.location {
  margin-bottom: 20px;

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      font-size: $fontSizeSmall;
      margin-right: 20px;
    }
  }
}


// select style
select {
  width: 100px;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  box-sizing: border-box;
  color: $fontColorBasic;
  border: 1px solid #ccc;
  border-radius: 10px;
  appearance: none;
  background-image: url('./assets/img/honestreview/select_btn.png');
  background-repeat: no-repeat;
  background-position: 90% center;
}

// input box style
input {
  width: 300px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

// button style
button {
  width: 100px;
  height: 40px;
  font-size: $fontSizeNormal;
  line-height: 40px;
  color: #fff;
  background: $buttonColor;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

//   page_num
.page_num {
  ul {
    text-align: center;

    .number {
      &:hover {
        background: #f1f1f1;
      }
    }

    li {
      display: inline-block;

      &:nth-of-type(2) {
        font-weight: bold;
      }

      a {
        padding: 0 10px;
      }
    }
  }
}
