/* shop scss */

.shop {
  .sub_banner {
    background-color: #eff1f2;
    background-image: url('./assets/img/shop/sub_banner.png');
  }

  .title {
    text-align: center;
    padding: 80px 0;
  }
}
