// 변수처리

//site width
$siteWidth : 1440px;

// text size
$fontSizeSmall : 14px;
$fontSizeNormal : 16px;
$fontSizeMid : 18px;
$fontSizeBig : 21px;

//title
$titleSizeSmall : 24px;
$titleSizeNormal : 26px;
$titleSizeMid : 28px;
$titleSizeBig : 32px;
$titleSizeBigest : 52px;

// layoutBg
$layoutBg : #fff6d7;

// fontcolor 
$fontColorBasic : #676d72;
$fontColorPrimary : #f9ce42;

// font hover color
$fontHoverColor : #f9ce42;
